@charset "utf-8";
  .slide-con{
    display: flex;
    margin: 0px;
  }
  .slide-container{
    overflow: hidden;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .left{
    margin-right: 150px;
  }
  .right{
    margin-left: 150px;
  }
  .left, .right{
    position: relative;
    top: 100PX;
    width: 40px;
    height: 40px;
    color: #2b303b;
    border: none;
    background-color: whitesmoke;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    vertical-align: middle;
    white-space: nowrap;
  }